boardgame-microservice-backend/authservice/target
boardgame-microservice-backend/boardgameservice/target
boardgame-microservice-backend/contractservice/target
boardgame-microservice-backend/gateway/target
