* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

#root {
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    overflow: hidden;
    color: var(--text-primary);
}

a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

// a.active,
// a:hover {
//     color: var(--link-text-hover);
// }

a,
a.active,
a:hover {
    text-decoration: none;
}

svg.change-color circle,
svg.change-color line,
svg.change-color path,
svg.change-color rect {
    stroke: currentColor;
}

body input::placeholder {
    opacity: 1;
}

body input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input::-webkit-input-placeholder,
body input::placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input:-ms-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input:-moz-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea::-webkit-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea::-webkit-input-placeholder,
body textarea::placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea:-ms-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea:-moz-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

// body .react-loading-skeleton {
//     background-color: var(--loading-bg);
//     background-image: linear-gradient(90deg, transparent, var(--loading-bg-animation), transparent);
// }

img,
video {
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

body ::-webkit-scrollbar {
    width: 6px;
}

body ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset #fff;
    border-radius: 4px;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

figure {
    background-color: var(--loading-bg);
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

button {
    &:hover {
        filter: brightness(0.9);
    }
}

a.active,
a:hover {
    color: var(--link-text-hover);
}

ol,
p,
ul {
    list-style: none;
}

li {
    > a {
        &:hover {
            color: inherit;
        }
    }

    > span {
        a {
            &:hover {
                color: inherit;
            }
        }
    }
}

input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--text-primary);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

input[type='radio']:checked::before {
    content: '';
    background-color: var(--link-text-hover);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 3px;
}

input[type='checkbox']:checked:after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    top: -2px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: var(--link-text-hover);
    transform-origin: bottom left;
    transform: rotate(40deg);
}

.app-btn[disabled] {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
}

*:focus {
    outline: none;
}

.tippy-box[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
}

[data-tippy-root] {
    max-width: calc(100vw - 10px);
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
}

.tippy-box[data-placement^='left'] > .tippy-arrow {
    right: 0;
}

.tippy-box[data-placement^='left'] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left;
}

.tippy-box[data-placement^='right'] > .tippy-arrow {
    left: 0;
}

.tippy-box[data-placement^='right'] > .tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
}

.tippy-box[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333;
}

.tippy-arrow:before {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;
}

.tippy-box {
    font-size: 11px;
    line-height: 1.3;
}

.tippy-box .title {
    font-size: 14px;
}

.tippy-box .subtitle a {
    color: hsla(0, 0%, 100%, 0.5);
}

//---------------------------------------------Common classes-----------------------------------------

.btn-primary {
    color: var(--white-text);
    background-color: var(--active-bg);
}

.icon {
    display: flex;
}

.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-alpha-60);
    visibility: hidden;
}

.app-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.action-btns {
    display: flex;

    .app-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 24px;
        width: 120px;
        color: var(--white);
        border-radius: 100px;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid var(--border-primary);

        &:hover {
            filter: brightness(0.9);
        }

        .icon {
            margin-right: 8px;
            fill: var(--white);
        }
    }

    .app-btn.large {
        width: 180px;
    }

    .app-btn.danger-btn {
        border-color: var(--danger-bg);
        background-color: var(--danger-bg);
    }

    .app-btn.success-btn {
        border-color: var(--success-bg);
        background-color: var(--success-bg);
    }

    .app-btn.normal-btn {
        border-color: var(--text-primary);
        color: var(--text-primary);
        .icon {
            fill: var(--text-primary);
        }
    }

    > .app-btn + .app-btn {
        margin-left: 16px;
    }
}

.media {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.level .level-left,
.level .level-right {
    display: flex;
}

.level-left {
    align-items: center;
    justify-content: flex-start;
}

.level-left,
.level-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.level-right {
    align-items: center;
    justify-content: flex-end;
}

.level .level-left + .level-right {
    margin-top: 0;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}

.app-section-title.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-section {
    .add-btn {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: var(--text-secondary);

        &:hover {
            color: var(--link-text-hover);

            .icon {
                fill: var(--link-text-hover);
            }
        }

        .icon {
            font-size: 16px;
            top: 0;
            margin-right: 6px;
            fill: var(--text-primary);
        }
    }
}

.is-rounded {
    overflow: hidden;
    border-radius: 999px !important;
}

.pad-t-26 {
    padding-top: 26px;
}

.pad-t-32 {
    padding-top: 32px;
}

.mar-t-32 {
    margin-top: 32px;
}

.mar-b-32 {
    margin-bottom: 32px;
}

.is-38x38 {
    width: 38px;
    height: 38px;
}

.is-42x42 {
    width: 42px;
    height: 42px;
}

.is-fullhd-20 {
    width: 20%;
}

.title.is-2 {
    font-size: 20px;
}

//---------------------------------------------Modal-----------------------------------------------------------
.app-portal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1080;
    background-color: var(--dark-alpha-80);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: var(--primary-bg);
        border-radius: 8px;
        max-height: 100%;
    }
}

.modal.is-active {
    display: flex;
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 40;
}

.modal-content {
    width: 460px;
    .form {
        padding: 16px;

        label {
            font-weight: 500;
        }

        input {
            margin-bottom: 8px;
        }

        .form-header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            position: relative;

            .app-btn {
                position: absolute;
                right: -3px;
                top: -3px;

                &:hover {
                    filter: brightness(1);
                    .icon {
                        fill: var(--link-text-hover);
                    }
                }

                .icon {
                    fill: var(--text-primary);
                }
            }

            h1 {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .flex-items {
            display: flex;

            > div {
                width: 50%;
            }
            > div + div {
                margin-left: 16px;
            }
        }
    }
}

//---------------------------------------------Login, register page---------------------------------------------

.app-layout {
    display: -moz-flex;
    display: flex;
    width: 100%;
    min-width: 768px;
    height: 100vh;
    // background-color: var(--layout-bg);
    background-color: #f5f7fb;
}

.main-page {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-form-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    img {
        width: 128px;
    }
}

.auth-form-header {
    margin-bottom: 16px;
    color: var(--black);
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;

    h1 {
        font-size: 24px;
        font-weight: 500;
    }

    h3 {
        font-size: 22px;
    }
}

.auth-form {
    width: 360px;
    margin: 0 auto;
    transform: translate(0px, -10%);

    label {
        font-weight: 500;
    }

    .auth-form-body {
        border-radius: 6px;
        padding: 16px;
        font-size: 14px;
        background-color: var(--color-canvas-subtle);
        border: 1px solid var(--color-border-muted);
        border-radius: 6px;

        .input-block {
            margin-top: 4px;
            margin-bottom: 16px;
        }

        .name-input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            > div {
                width: 100%;
            }
            > div + div {
                margin-left: 16px;
            }
        }
    }

    .error-message {
        border: solid 1px #f85149;
        color: #f85149;
        margin-bottom: 16px;
        border-radius: 6px;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            fill: #f85149;
            margin-right: 3px;
        }
    }
}

.custom-select {
    position: relative;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
}

.form-control:-webkit-autofill {
    box-shadow: inset 0 0 0 32px var(--white) !important;
    -webkit-text-fill-color: var(--black);
}

.input-block {
    display: block;
    width: 100%;
}

.form-control,
.form-select {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary);
    vertical-align: middle;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    box-shadow: var(--color-primer-shadow-inset);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}

.login-callout {
    padding: 16px 16px;
    text-align: center;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    margin-top: 16px;

    a {
        color: var(--link-text-hover);

        &:hover {
            text-decoration: underline;
        }
    }
}

.forgot-password {
    float: right;
    color: var(--link-text-hover);
}

.auth-form,
.form {
    .btn {
        margin-top: 24px;
        position: relative;
        display: inline-block;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        border: 1px solid;
        border-radius: 6px;
        -webkit-appearance: none;
        appearance: none;
    }

    .btn-block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.auth-form.center {
    transform: translate(0, 0);
}

.auth-form.large {
    width: 540px;
}

.is-required::after {
    content: '*';
    color: var(--link-text-hover);
}

//---------------------------------------------Sidebar---------------------------------------------
.app-sidebar {
    height: 100%;
    position: relative;
    z-index: 100;
    width: 240px;
    background-color: var(--sidebar-bg);
    padding: 130px 0;

    .sidebar-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        .app-navbar {
            width: 100%;

            .app-navbar-title {
                font-size: 14px;
                text-transform: uppercase;
                color: var(--text-secondary);
                font-weight: 700;
                padding: 0px 40px;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .app-btn {
                    display: flex;
                    align-items: center;
                    padding: 5px;

                    .icon {
                        font-size: 20px;
                    }
                }
            }

            .app-navbar-brand {
                width: 240px;
                height: 140px;
                position: fixed;
                top: 0;
                padding: 0 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                .app-navbar-item {
                    .button {
                        display: inline-block;
                        line-height: 0;
                        border-radius: 0;

                        .app-logo {
                            width: 240px;
                            height: 120px;
                            display: inline-block;
                            background: var(--img-logo-app) 50% / 80% no-repeat;
                        }
                    }
                }
            }
        }

        .app-navbar-item {
            .app-navbar-link {
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                padding: 12px 28px;
                border-radius: 6px;
            }

            .app-navbar-link:not(.is-active) {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.06);
                    filter: brightness(1);

                    .icon {
                        fill: var(--link-text-hover);

                        .dashboard-ic {
                            fill: var(--link-text-hover);
                        }
                    }
                }
            }

            .icon {
                margin-right: 8px;
                width: 24px;
                height: 24px;
                fill: var(--text-primary);
            }

            .app-navbar-item-wrapper {
                padding: 8px 16px;
            }
        }

        .is-active {
            box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
            background-color: var(--hover-bg);
            color: #fff !important;

            .icon {
                fill: var(--white);

                .dashboard-ic {
                    fill: var(--white);
                }
            }
        }
    }
}

.sidebar-divide {
    position: relative;
    height: 1px;
    margin: 26px 0;

    &::after {
        content: '';
        border-top: 1px solid var(--text-secondary);
        position: absolute;
        left: 25px;
        right: 25px;
        top: 0;
    }
}

//---------------------------------------------Header---------------------------------------------

.app-header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    height: 60px;
    z-index: 99;
    min-width: 660px;
    transition: right 0.4s;
    padding: 0 59px;

    &::before {
        content: '';
        position: absolute;
        height: 60px;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--layout-header-bg);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        width: calc(100% + 2px);
        box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
    }

    .level {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .level-left {
        .date-wrapper {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 16px;
            }

            .current-date {
                font-size: 16px;
                font-weight: 500;
                cursor: default;
            }
        }
    }

    .level-right {
        flex-grow: 1;

        > * {
            margin-left: 32px;
        }

        .search {
            position: relative;
            width: 100%;
            max-width: 370px;
            margin-right: 16px;

            .search__container {
                position: relative;
                width: 100%;
                border-radius: 20px;
                height: 32px;
                background-color: var(--alpha-bg);

                .input-wrapper {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    top: 0;
                    right: 0;
                    bottom: 0;

                    input {
                        width: 100%;

                        &::placeholder {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .notifications,
        .avatar,
        .settings {
            cursor: pointer;
            display: flex;

            .icon {
                fill: var(--text-primary);

                .stroke-line {
                    stroke: var(--text-primary);
                }

                &:hover {
                    fill: var(--link-text-hover);

                    .stroke-line {
                        stroke: var(--link-text-hover);
                    }
                }
            }
        }

        .app-btn {
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 8px;
            right: 10px;
        }
    }

    .header-divide {
        position: relative;
        height: 26px;
        width: 1px;
        margin-right: 8px;
        background-color: var(--text-secondary);

        &::after {
            content: '';
            border-left: 1px solid var(--text-primary);
            position: absolute;
            top: 25px;
            bottom: 25px;
        }
    }

    .menu-settings.setting-header {
        line-height: normal;

        .menu-list {
            padding: 0;
        }

        li {
            border-radius: 4px;
        }
    }

    .menu-settings.header-dropdown {
        top: 0px;
        right: -16px;
        padding: 6px;
    }

    .user-setting .menu-settings {
        width: 350px;
    }

    .menu-list {
        li {
            color: var(--navigation-text);

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }

    .menu-settings {
        background-color: var(--primary-bg);
        border-radius: 8px;
        position: absolute;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        width: 240px;
        z-index: 101;

        .line-separator {
            height: 1px;
            background-color: var(--border-primary);
            width: calc(100% - 24px);
            margin: 10px auto;
        }

        > .menu-list {
            padding: 10px 0;
        }

        .logout-header {
            .logout-btn {
                padding: 10px;
                display: flex;
                align-items: center;

                .icon {
                    width: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }

    .user-setting-account {
        position: relative;
        z-index: 1;
        padding: 10px;
        margin-bottom: 10px;

        .info {
            display: flex;
            align-items: center;

            .app-avatar-frame {
                margin-right: 10px;
            }

            .right {
                p {
                    font-size: 13px;
                    margin-bottom: 4px;
                }

                h3 {
                    font-weight: 500;
                }
            }
        }
    }
}

//---------------------------------------------Main page---------------------------------------------

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.app-mainpage {
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    position: relative;
    width: calc(100% - 570px);
    min-height: 100%;
    transition: margin-right 0.4s;
}

.app-box {
    display: block;
}

.home-page-content {
    margin-top: 60px;
}

main.app-section {
    padding: 0 59px;
    margin: 0 auto;
}

//---------------------------------------------Boardgames page---------------------------------------------

.carousel-wrapper {
    position: relative;

    .carousel {
        display: flex;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow: hidden;
        margin: 0 -15px;

        .carousel-container {
            display: flex;
            z-index: 3;
            width: 100%;
            flex-wrap: wrap;

            .carousel-item {
                position: relative;
                padding: 10px 14px;
                display: flex;
                flex-direction: column;

                .card-content {
                    margin-top: 12px;

                    .title {
                        text-transform: none;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 1.36;
                        color: var(--text-primary);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;

                        a {
                            text-transform: none;
                            font-size: 15px;
                            font-weight: 700;
                            margin-top: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                        }
                    }

                    .subtitle {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 1.33;
                        color: var(--text-secondary);
                    }
                }

                .boardgame-card {
                    width: 100%;
                    max-width: 100%;
                    position: relative;

                    .card-image {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        border-radius: 4px;
                        flex-shrink: 0;

                        .opacity {
                            visibility: visible;

                            .icon {
                                display: flex;
                                justify-content: center;
                                transform: translateY(44%);
                            }
                        }

                        &:hover {
                            cursor: pointer;

                            .opacity,
                            .app-actions {
                                visibility: visible;
                            }

                            img {
                                transform: scale(1.1) translateZ(0);
                            }
                        }

                        .image {
                            line-height: 0;
                            height: 0;
                            padding-bottom: 100%;
                            border-radius: 5px;
                            overflow: hidden;
                            position: relative;
                            width: 100%;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                transition: transform 0.7s;

                                &::before {
                                    content: '';
                                    display: block;
                                    padding-bottom: 100%; /* Chiều cao sẽ bằng 100% chiều rộng */
                                }
                            }
                        }
                    }

                    .add-btn {
                        &:hover {
                            .icon {
                                fill: var(--link-text-hover);
                            }
                        }
                    }
                }
            }
        }
    }
}

//---------------------------------------------User page---------------------------------------------
.list {
    .list-header {
        border-bottom: 1px solid var(--border-secondary);
        height: 46px;
        border-radius: 0;

        > div {
            font-weight: 600;
            font-size: 15px;
            color: var(--link-text-hover);
        }
    }

    .list-item {
        .item {
            padding: 14px 10px;
            display: flex;
            position: relative;
            border-bottom: 1px solid var(--border-secondary);
        }
    }

    .item-name {
        width: 20%;
    }

    .item-phone-number {
        width: 17%;
    }

    .item-gender {
        width: 13%;
    }

    .item-birthday {
        width: 17%;
    }

    .item-boardgames-title {
        width: 35%;
    }

    .item-from {
        width: 12.5%;
    }

    .item-address {
        width: 31%;
    }
}

//---------------------------------------------Contract page---------------------------------------------

.contract-duration {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        font-weight: 500;
    }

    input {
        margin-top: 8px;
    }

    > .date-input {
        width: 100%;
    }

    > .date-input + .date-input {
        margin-left: 16px;
    }
}

.content-wrapper {
    background-color: #fff;
    border-radius: 10px;
}
