:root {
    --layout-bg: #fff;
    --white: #fff;
    --black: #000;
    --white-text: #fff;
    --text-primary: #32323d;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --primary-bg: #fff;
    --color-border-default: #30363d;
    --color-canvas-default: #0d1117;
    --color-fg-default: #e6edf3;
    --color-border-muted: #21262d;
    --link-text-hover: #f55874;
    --active-bg: #f55874;
    --hover-bg: #f55874;
    --success-bg: #24a8af;
    --danger-bg: #eb2a3c;
    --dark-alpha-60: rgba(0, 0, 0, 0.6);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);
    --text-item-hover: #f55874;
    --sidebar-bg: rgba(0, 0, 0, 0.04);
    --img-logo-app: url('../static/images/logo.png');
    --layout-header-bg: hsla(0, 0%, 100%, 0.8);
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
    --border-secondary: rgba(0, 0, 0, 0.15);
    --border-primary: rgba(0, 0, 0, 0.2);
}
